<h2><%=@category.name%></h2>


<%= button_to "Delete", category_delete_path(@category.id), method: :delete %>
<%= button_to "Edit", edit_category_path(@category.id), method: :get %>


<!-- Relevant products list -->
<div class="container check_field">
<% @category.products.each do |product| %>
	<a href="/products/<%=product.id%>"><%= product.name %> - <%= product.price %></a>
	</br>
<% end %>
</div>
