<h1><%=@category.name%></h1>


<%= button_to "Delete", category_delete_path(@category.id), method: :delete %>
<%= button_to "Edit", edit_category_path(@category.id), method: :get %>


<!-- Relevant products list -->
<% @category.products.each do |product| %>
	<a href="/products/<%=product.id%>"><%= product.name %> - <%= product.price %></a>
	</br>
<% end %>
