<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- <link rel="stylesheet", type="text/css" href="/images/skyrim.jpg"> -->
</head>
<body>

<a href=<%=categories_path%> >Categories</a>
<a href=<%=products_path%> >Products</a>


<%= yield %>

</body>
</html>
